:root {
    font-family: var(--font-family);
    font-size: var(--font-size);
}

* {
    box-sizing: border-box;
    font-size: 1rem;
    padding: 0;
    margin: 0;
}

html, body {
    padding: 0px;
    margin: 0px;
    font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0px 0px 10px 0px;
    margin: 0px;
}

h1 {
    font-size: 2.75rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2.25rem;
}

h4 {
    font-size: 2rem;
}

h5 {
    font-size: 1.75rem;
}

h6 {
    font-size: 1.5rem;
}

/* Default input styles */

/* Buttons */
button,
input[type=button],
input[type=submit],
input[type=reset] {
    text-transform: uppercase;
    background: none;
    color: var(--color-text-light);
    border: none;
    padding: 10px;
    text-align: center;
}

button:hover,
input[type=button]:hover,
input[type=submit]:hover,
input[type=reset]:hover {
    cursor: pointer;
}

button:disabled,
input[type=button]:disabled,
input[type=submit]:disabled,
input[type=reset]:disabled {
    cursor: not-allowed;
}

/* Color, Checkbox */
input[type=color],
input[type=checkbox],
input[type=radio] {
    width: 1rem;
    height: 1rem;
    border: none;
    padding: 0;
}